<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <form id="ajaxFrm">
    <label for="tet">用户</label><input type="text" id="tet" name="username" placeholder="请输入以字母开头的6到12位字符"><span id="span"></span><br>
    <label for="pass">密码</label><input type="password" id="pass" name="userpass" placeholder="请输入6到12位字符"><br>
    <span>性别</span><input type="radio" name="age" value="男"> 男 <input type="radio" name="age" value="女"> 女 <br>
    <label for="tel">电话</label><input type="tel" id="tel" name="usertel"><br>
  </form>
  <input type="button" onclick="doFind()" value="提交">
  <a href="/shuju">查看所有数据</a>
  <script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.js"></script>
  <script>
    function doFind(){
      $.ajax({
        cache: false,
        type: "POST",
        url:"/zhuce",	//把表单数据发送到ajax.jsp
        data:$('#ajaxFrm').serialize(),	//要发送的是ajaxFrm表单中的数据
        async: false,
        error: function(request) {
          alert("发送请求失败！");
        },
        success: function(data) {
          $("#span").html(data).css({"color":"red"});	//将返回的结果显示到ajaxDiv中
        }
      });
    }
  </script>
  </body>
</html>
